body {
  background-color: lightblue;
  
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  margin: 15px 0 10px 0;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
}

h3 {
  font-size: 22px;
  margin: 20px 0 10px;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 13.6px;
  line-height: 1.3;
  margin: 10px 0;
}

#paragraph2 {
    background-color: white;
    width: 730px;
    border: 4px solid green;
    padding: 15px 30px;
    margin: 20px;
    line-height: 2.0;
}

.blue {
  background-color: darkblue;
  color: white;
  border: 2px solid black;
  padding: 15px 22px;
  margin: 18px 0;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.20; 
  font-size: 13.8px;
}

ol {
  list-style-type: decimal-leading-zero;
  margin-left: 0;
  padding-left: 25px;
  
}

li {
  font-size: 16px;  
}

li a {
  font-size: 13px; 
}

p a {
  color: rgb(128, 0, 53);
}

table, td, th {  
  border: 1px solid #000000;
  text-align: left;
}

table {
  border-collapse: collapse;
  /* width: 720px; */
  font-size: 12px;
}

th, td {
  background-color: rgb(254, 254, 254);
}

th {
  text-align: center;
  background-color: rgb(211, 211, 211);
  padding: 3px;
}

td {
  padding: 8px 10px;
}
